
chromedriver==2.24.1
click==8.2.1
cryptography==3.4.8
distro==1.7.0
Django==5.2.3
django-cors-headers==4.7.0
django-extensions==4.1
docutils==0.21.2
geckodriver==0.0.1
httplib2==0.20.2
requests==2.32.3
robotframework==7.2.2
robotframework-pythonlibcore==4.4.1
robotframework-requests==0.9.7
robotframework-seleniumlibrary==6.7.1
SecretStorage==3.3.1
selenium==4.32.0
setuptools==80.8.0
urllib3==2.4.0
websocket-client==1.8.0

